@import 'src/scss/colors.scss';

$square-background: $white;
$square-border: $dust-gray;
$square-winner-border: #9ecaed;

%squareProps {
  background: $square-background;
  border: 1px solid $square-border;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.square {
  @extend %squareProps;
}

.square:focus {
  outline: none;
}

.squareWinner {
  @extend %squareProps;
  border-color: $square-winner-border;
  box-shadow: inset 0 0 8px $square-winner-border;
}
